<section>
    <div class="container">
        <div class="mt-4">
            <a href="/admin/add-products" class="btn btn-success float-end" >Add products</a>
        </div>
        <div class="mt-5">
        <table class="table">
            
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Discription</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
        {{#each products}}
    <tr>
      <th scope="row">1</th>
      <td>{{this.name}} </td>
      <td>{{this.category}} </td>
      <td>{{this.description}} </td>
      <td><img style="width:50px;height:50px" src="{{this.image}}" alt=""> </td>
    </tr>
    {{/each}}
  
  </tbody>
</table>
</div>
</div>
    
</section>